name: Pull Request

on:
  pull_request:
    branches:
      - dev
    types: [opened, synchronize, reopened]
  push:
    branches:
      - dev

jobs:
  log-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
         node-version: '20'

      - name: Log package.json version
        run: |
         if [ -f package.json ]; then
           VERSION=$(node -p "require('./package.json').version || 'NO_VERSION_FIELD'")
           echo "Package version: $VERSION"
         else
           echo "package.json not found" >&2
           exit 1
         fi
